*{
  margin: 0;
  padding: 0;
 }
 
html{
  width: 100vw;
  height: 45vh;

}
 
 /* CSS which you need for blurred box */
body{
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image:url(https://lh3.googleusercontent.com/2HioLV7f0CmTtX8Miod4vY2VY0xQaONtYFtbC6mEkq2tsWkXNsGzIe6CXPYYn6D9ntl5tkEWtgHE2NpPyIJsyBXgohfT9ghZE8AY0hlaeEqRDauCekAm43PZBF9QybNhqDFYkyjyaYXXRvqAbbTn20DOYLOfpZoRIcNAk8E5-imHjHGmDFSBoIT_gfrFd9mhBttmxeq3DCt345-efAyv_wsAOc_UYxqxoi3uJ1vjucVgigfUgApZ23Y7yBlyGlAFMViK28WZrQmwOOoGLazxcmYmBCRH-qQMP42c0E3p36n7ltJPkqhaf0h_P3Fm5NZLuAe9eSE2blQGg2sWE8PjHublcY2AGkovY2Bj0NtyCUq_Wb-ChF43ZwF7w1qFdBET6Db42O9D4IvbkVnTvA0Ig-_RTlWtXTjWZ3K36nefuBUuf9tkvF9kcjxYxG05nCwlHMG1ytu39epd4tv36s3Chv83lgAGdlMpJx_y2PAIZhbu_DVyFv7ppDbs0D9XbSHTTCWa4s4WPjhiblIvO9ONEPypmIgkLio5b0mbY_zrEXow7-T0Bhdjdm82RIIZrJp6rAIp-sGpo4vGgB3rrHBVRHYgEIkBlrjXp1xaDF-1FiKKP9viZxhxPKSQiG_Z8yjQW736rAsjQdbsMUEXYVZYtXN5W6KKElGC81L6HlPIEQ7V8DIvp990Nr4=w646-h969-no?authuser=0);
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; 
 }

.main{
  padding: 80px 50px;
}

 .img-text h1{
  text-align: center;
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: auto auto;
  padding: 20px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 100px;
  font-size: 30px;
  text-align: center;
}

footer{
  position: relative;
  clear: both;
  height: 200px;
  margin-top: 1000px;
}

@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #4aaaa5;
  }
}

